*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#f7f4ea;
font-family:Arial,sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.splash{
text-align:center;
}

.logo{
width:220px;
margin-bottom:20px;
}

h1{
color:#0b6b3a;
font-size:42px;
}

h3{
color:#333;
margin-top:8px;
}

p{
margin-top:15px;
color:#444;
font-size:18px;
}

.loading{
width:230px;
height:8px;
background:#ddd;
margin:35px auto;
border-radius:20px;
overflow:hidden;
}

.bar{
height:100%;
width:100%;
background:#0b6b3a;
animation:load 3s linear;
}

@keyframes load{
from{transform:translateX(-100%);}
to{transform:translateX(0);}
}
