*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    font-family:Arial,sans-serif;
    background:#ffffff;
}

.splash{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#fff;
}

.banner{
    width:90%;
    max-width:430px;
    border-radius:25px;
    animation:fadeIn 1.5s ease;
}

.characters{
    position:relative;
    width:90%;
    max-width:500px;
    height:140px;
    margin-top:25px;
}

.boy{
    position:absolute;
    left:0;
    bottom:0;
    width:80px;
    animation:walk 4s linear forwards;
}

.father{
    position:absolute;
    right:0;
    bottom:0;
    width:95px;
}

.loading{
    width:240px;
    height:8px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin-top:20px;
}

.bar{
    width:0%;
    height:100%;
    background:#0b7d32;
    animation:load 5s linear forwards;
}

.loading-text{
    margin-top:12px;
    color:#0b7d32;
    font-size:16px;
    font-weight:bold;
}

@keyframes walk{
    from{
        left:0;
    }
    to{
        left:72%;
    }
}

@keyframes load{
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:scale(.95);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
